<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align:center">Peak Computer Use Times: Plymouth University</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color:#C8B0B0;">
      <h4 style="text-align:center"><strong>Real time seat availabilities and running averages on peak times. View source code: <%= link_to "here", "https://github.com/schwad/Best-Seat-Best-Time-Plymouth" %> Donate : <%= link_to "here", "https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=PqPTDebqbdKVAboaOOlH1UIm9DLMMPJt9oX519NfCqMBDMZkzJLHNX0a3Ae&dispatch=5885d80a13c0db1f8e263663d3faee8d0b9dcb01a9b6dc564e45f62871326a5e" %></strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Legend:</h3>
      <div id="legend">
        <% (1..10).to_a.each do |cell| %>
          <div class="my-legend data-<%= cell %>">
            <strong><%= cell %>0%</strong>
          </div>
        <% end %>
      </div>
      <p style="font-style:italic;">(Tip: Hover your mouse over a time slot to see the average percentage of open seats)</p>
    </div>
  </div>
  <% @rooms.each do |room| %>
    <div class="row">
      <div class="col-md-12 full-room">
        <div class="row">
          <div class="col-md-12" style="margin-bottom:-11px;">
            <h3><span class="title"><%= room.room_name %></span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h4 style="color:green;">Seats Available: <%= Datapoint.where("room_name = ?", room.room_name).last.total_available %> out of <%= Datapoint.where("room_name = ?", room.room_name).last.total_rooms %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% week_change = Day.where("room_name = ?", room.room_name).last.weekly_change %>% change this week %>
                <% if week_change > 0 %>
                  <h4 style="color:green;"><strong>+<%= week_change %>%</strong> change since last week %></h4>
                <% else %>
                  <h4 style="color:red;"><strong><%= week_change %>%</strong> change since last week %></h4>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table style="width:100%;">
              <thead>
                <% @range = (0..23).to_a %>
                <% @range.each do |hour| %>
                  <th style="border: solid black 2px; text-align: center"><%= hour %>:00</th>
                <% end %>
              </thead>
              <tbody>
                <% Day.where("room_name = ?", room.room_name).last.full_data[1..-1].each_with_index do |item, index| %>
                <!-- grabs last week's data -->
                    <% old_day = Day.where("room_name = ?", room.room_name).first.full_data[index] %>
                    <% changing = item - old_day %>
                    <% if item.to_s.length == 3 %>
                      <% @my_data = "10" %>
                    <% else %>
                      <% @my_data = item.to_s[0] %>
                    <% end %>
                  <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= item %>% <br>
                    <!-- new rendering of weekly change in hover -->
                    <% if changing < 0 %>
                      <span style="color:red"><%= changing %>%
                        <% decline = true %>
                    <% else %>
                      <span style="color:green">+<%= changing %>%
                        <% decline = false %>
                    <% end %>
                  </span>


                  </strong></span></td>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>