<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align:center">Peak Computer Use Times: Plymouth University</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color:#C8B0B0;">
      <h4 style="text-align:center"><strong>Data calculated from 10:00 14/9/15 to now. View source code: <%= link_to "here", "https://github.com/schwad/Best-Seat-Best-Time-Plymouth" %> </strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Legend:</h3>
      <div id="legend">
        <% (1..10).to_a.each do |cell| %>
          <div class="my-legend data-<%= cell %>">
            <strong><%= cell %>0%</strong>
          </div>
        <% end %>
      </div>
      <p style="margin-bottom:-12px; font-style:italic;">(Tip: Hover your mouse over a time slot to see exact average percentage available)</p>
    </div>
  </div>
  <% @rooms.each do |room| %>
    <div class="row">
      <div class="col-md-12">
        <h3><%= room.room_name %></h3>
        <table style="width:100%;">
          <thead>
            <% @range = (0..23).to_a %>
            <% @range.each do |hour| %>
              <th style="border: solid black 2px; text-align: center"><%= hour %>:00</th>
            <% end %>
          </thead>
          <tbody>
            <% Day.where("room_name = ?", room.room_name).last.full_data[1..-1].each_with_index do |item, index| %> <!-- new -->
                <% if item.to_s.length == 3 %>
                  <% @my_data = "100" %>
                <% else %>
                  <% @my_data = item.to_s[1] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= item %>%</strong></span></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>