<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align:center">Best Seat Best Time Plymouth University</h2>
    </div>
  </div>
  <% @rooms.each do |room| %>
    <% @range = (0..23) %>
    <div class="row">
      <div class="col-md-12">
        <h3><%= room.room_name %></h3>
        <table>
          <thead>
            <% @range.each do |hour| %>
              <th style="border: solid black 2px; text-align: center"><%= hour %>:00</th>
            <% end %>
          </thead>
          <tbody>
            <% @range.each do |hour| %>
              <% @new_value = Datapoint.all.sample.average_capacity_by_time_of_day(room.room_name, hour) %>
              <td class="data-cell data-<%= @new_value %>"></td>


            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h2> OLD DATA </h2>
      <table style="width:100%">
        <thead>
          <tr>
            <th><strong><h3>Room</h3></strong></th>
            <th><strong>Avg % Free</strong></th>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
          <tr>
            <td>
              <%= room.room_name %>
            </td>
            <td>
              <%= number_to_percentage((Datapoint.all.sample.average_capacity(room.room_name)*100 ), precision: 2)%>
            </td>
          </tr>
          <% end %>

        </tbody>

      </table>

</div>