<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align:center">Peak Computer Use Times: Plymouth University</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color:#C8B0B0;">
      <h4 style="text-align:center"><strong>Data calculated from 10:00 14/9/15 to now. View source code: <%= link_to "here", "https://github.com/schwad/Best-Seat-Best-Time-Plymouth" %> </strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Legend:</h3>
      <div id="legend">
        <% (1..10).to_a.each do |cell| %>
          <div class="my-legend data-<%= cell %>">
            <strong><%= cell %>0%</strong>
          </div>
        <% end %>
      </div>
      <p style="margin-bottom:-12px; font-style:italic;">(Tip: Hover your mouse over a time slot to see exact average percentage available)</p>
    </div>
  </div>
  <% @rooms.each do |room| %>
    <% @range = (0..23) %>
    <div class="row">
      <div class="col-md-12">
        <h3><%= room.room_name %></h3>
        <table style="width:100%;">
          <thead>
            <% @range.each do |hour| %>
              <th style="border: solid black 2px; text-align: center"><%= hour %>:00</th>
            <% end %>
          </thead>
          <tbody>
            <!-- this can be made faster if I store a global hash that is updated daily -->
            <% @range.each do |hour| %>
              <% @new_value = @thingy.average_capacity_by_time_of_day(room.room_name, hour) %>
              <% case hour %>
              <% when 0 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_0 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 1 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_1 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 2 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_2 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 3 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_3 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 4 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_4 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 5 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_5 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 6 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_6 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 7 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_7 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 8 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_8 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 9 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_9 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>
              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 10 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_10 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 11 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_11 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 12 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_12 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 13 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_13 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 14 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_14 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 15 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_15 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 16 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_16 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 17 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_17 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 18 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_18 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 19 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_19 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 20 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_20 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 21 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_21 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 22 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_22 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% when 23 %>
                <% @new_answer = Day.where("room_name = ?", room.room_name).last.hour_23 %>
                <% if @new_answer.to_s.length == 3 %>
                  <% @my_data = 10 %>
                <% else %>
                  <% @my_data = @new_answer.to_s[0] %>
                <% end %>

              <td class="data-cell data-<%= @my_data %>"><span class="my-data-span" style="color:white;"><strong><%= @new_answer %>%</strong></span></td>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>